<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Created payment information</title>
</head>
<body>
<div>Congratulations there is your payment information</div>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Price </th>
        <th> Ticket </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <span th:text="${createdPayment.id}"> Id </span>
        </td>
        <td>
            <span th:text="${createdPayment.price}"> Price </span>
        </td>
        <td>
            <a th:href="@{/api/v1/ticket/{ticketId}(ticketId = ${createdPayment.ticket.id})}">
                <span th:text="${createdPayment.ticket.id}"> Ticket id </span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>