<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Expositions</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Exposition Name </th>
        <th> Hall name </th>
        <th> Theme </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="exposition : ${expositions}">
        <td>
            <span th:text="${exposition.id}"> Id </span>
        </td>
        <td>
            <span th:text="${exposition.expositionName}"> Exposition Name </span>
        </td>
        <td>
            <form method="POST"
                  th:action="@{/api/v1/payment}">
                <input type="hidden" name="expositionId" id="expositionId" th:value="${exposition.id}"/>
                <input type="hidden" name="userId" id="userId" th:value="${1}"/>
                <button type="submit" name="submit" value="value" class="link-button">
                    <span th:text="${exposition.hall.hallName}"> Hall name </span>
                </button>
            </form>
        </td>
        <td>
            <span th:text="${exposition.theme.themeName}"> Theme </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>